.bd-s {
    border: solid 1px;
}

.bd-d {
    border: dashed 1px;
}

.pd-5 {
    padding: 5px;
}

.pr {
    position: relative;
}

.rmg-5 {
    margin-right: 5px;
}

.tmg-5 {
    margin-top: 5px;
}

.p-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.tx-s {
    font-size: small;
}

.tx-ul {
    text-decoration: underline;
}
